<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Summary of Application</title>

    {{!-- head stylesheets and js --}}
    {{> partials/headlinks}}


</head>

<body>
    <div id="wrapper">

        {{> partials/topnav}}
        {{> partials/sidenav}}

        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
                    Summary of Application
                </h1>
            </div>
            <div id="page-inner">
                <div class="col-md-9" id="PRF-card">
                    <div class="card">
                        <div class="card-action">
                            Interview Feedback  
                        </div>
                        <div class="card-content">
                            <!-- Interview form -->
                            <div class="Summary-info  ">
                                <param class="applicationID" name="applicationID" value="{{applicationData._id}}">
                                <table class=" col s12 ">
                                    <tbody>
                                        <tr></tr>
                                        <tr>
                                            <td class="PRF-info-label">Application #</td>
                                            <td class="applicationID">{{applicationData._id}}</td>
                                            <td> </td>
                                            <td class="PRF-info-label">Status</td>
                                            <td class="PRFStatus">For Approval</td>
                                            <td> </td>
                                            <td class="PRF-info-label approvedDate-label">{{#if
                                                PRF.approvedDate}}Approved
                                                Date{{/if}}</td>
                                            <td class="optional-button approvedDate">{{#if
                                                PRF.approvedDate}}{{PRF.approvedDateString}}{{/if}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="9" class="PRF-info-divider"> &nbsp; </td>
                                        </tr>

                                        <tr>
                                            <td class="PRF-info-label">First Name</td>
                                            <td class="first_name">{{applicationData.user.firstName}}</td>
                                            <td> </td>
                                            <td class="PRF-info-label">Middle Name</td>
                                            <td class="middle_name">{{applicationData.user.middleName}}</td>
                                            <td> </td>
                                            <td class="PRF-info-label">Last Name</td>
                                            <td class="last_name">{{applicationData.user.lastName}}</td>
                                            <td> </td>
                                            
                                        </tr>

                                        <tr>
                                            <td class="PRF-info-label">Position Title</td>
                                            <td class="position_title">{{applicationData.requisition.positionTitle}}</td>
                                            <td> </td>
                                            <td class="PRF-info-label">Department</td>
                                            <td class="department">{{applicationData.requisition.department}}</td>
                                            <td> </td>
                                            <td class="PRF-info-label">Business Unit</td>
                                            <td class="business_unit">{{applicationData.requisition.businessUnit}}</td>
                                            <td> </td>
                                        </tr>
                                        <tr>
                                            <td class="PRF-info-label">Target Start Date</td>
                                            <td class="target_startDate">{{applicationData.requisition.targetStartDate}}</td>
                                            <td> </td>
                                        </tr>

                                        <tr>
                                            <td colspan="9" class="PRF-info-divider"> &nbsp; </td>
                                        </tr>
                                        <!--Initial Interview Details -->
                                        <tr>
                                            <td class="PRF-info-label">Initial Interview</td>
                                        </tr>
                                        <tr>
                                            <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Competency</th>
                                                    <th>Rating</th>
                                                    <th>Comments</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Personal Background and Academic Preparations</td>
                                                    <td class="pbac_rating">5</td>
                                                    <td class="pbac_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Interpersonal/Communication Skills</td>
                                                    <td class="ic_skills_rating">5</td>
                                                    <td class="ic_skills_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Work Experience/Work History</td>
                                                    <td class="work_history_rating">5</td>
                                                    <td class="work_history_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Functional Skills</td>
                                                    <td class="functional_skills_rating">5</td>
                                                    <td class="functional_skills_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Personality/Personal Impact</td>
                                                    <td class="personality_rating">5</td>
                                                    <td class="personality_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Overall Impression</td>
                                                    <td class="initial_impression_rating">5</td>
                                                    <td class="initial_impression_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Total Rating</b></td>
                                                    <td class="initial_total_rating">5</td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </tr>
                                        <table>
                                        <tr>
                                            <td class="PRF-info-label">Other Comments/Areas For Improvement and Recommendation</td>
                                            <td class="initial_other_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                            <td> </td>
                                        </tr>
                                        <tr>
                                            <td colspan="9" class="PRF-info-divider"> &nbsp; </td>
                                        </tr>

                                        <!-- Second interview details-->
                                        <tr>
                                            <td class="PRF-info-label">Functional In-Depth Interview</td>
                                        </tr>
                                        <tr>
                                            <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Competency</th>
                                                    <th>Rating</th>
                                                    <th>Comments</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Practical Experience</td>
                                                    <td class="practical_experience_rating">5</td>
                                                    <td class="practical_experience_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Functional Expertise/Job Mastery</td>
                                                    <td class="functional_expertise_rating">5</td>
                                                    <td class="functional_expertise_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Management Skills</td>
                                                    <td class="management_skills_rating">5</td>
                                                    <td class="management_skills_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Responsibility and Resourcefulness</td>
                                                    <td class="response_resource_rating">5</td>
                                                    <td class="response_resource_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Personal/Self-Management</td>
                                                    <td class="self_management_rating">5</td>
                                                    <td class="self_management_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Overall Impression</td>
                                                    <td class="functional_impression_rating">5</td>
                                                    <td class="functional_impression_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Total Rating</b></td>
                                                    <td class="functional_total_rating">5</td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </tr>
                                        <table>
                                        <tr>
                                            <td class="PRF-info-label">Other Comments/Areas For Improvement and Recommendation</td>
                                            <td class="functional_other_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                            <td> </td>
                                        </tr>
                                        <tr>
                                            <td colspan="9" class="PRF-info-divider"> &nbsp; </td>
                                        </tr>

                                        <!-- Third interview details-->
                                        <tr>
                                            <td class="PRF-info-label">Final Interview</td>
                                        </tr>
                                        <tr>
                                            <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Competency</th>
                                                    <th>Rating</th>
                                                    <th>Comments</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Organizational Culture Fit</td>
                                                    <td class="org_fit_rating">5</td>
                                                    <td class="org_fit_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Personal Core Values Displayed</td>
                                                    <td class="core_values_rating">5</td>
                                                    <td class="core_values_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Leadership Attributes</td>
                                                    <td class="leadership_rating">5</td>
                                                    <td class="leadership_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Innovation/Entrepreneurship</td>
                                                    <td class="innovation_rating">5</td>
                                                    <td class="innovation_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Accountability and Stewardship</td>
                                                    <td class="accountability_rating">5</td>
                                                    <td class="accountability_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Personal Effectiveness</td>
                                                    <td class="personal_effectiveness_rating">5</td>
                                                    <td class="personal_effectiveness_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Potential for Growth/To Assume Next Higher Position</td>
                                                    <td class="potential_growth_rating">5</td>
                                                    <td class="potential_growth_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td>Overall Impression</td>
                                                    <td class="final_impression_rating">5</td>
                                                    <td class="final_impression_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Total Rating</b></td>
                                                    <td class="final_total_rating">5</td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </tr>
                                        <table>
                                        <tr>
                                            <td class="PRF-info-label">Other Comments/Areas For Improvement and Recommendation</td>
                                            <td class="final_other_comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                                            <td> </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                
                            </div>
                            
                            <!--TODO: add personal information form details [?] -->

                        </div>
                    </div>
                </div>

                <div class="col-md-3" id="approvals-progress-card">
                    <div class="card">
                        <div class="card-action">
                            Approvals Progress
                        </div>
                        <div class="card-content">

                            <div class="progress">
                                <div class="progress-bar progress-bar-success approved-bar">
                                    <span class="approved-bar-label"> </span> Approved
                                </div>
                                <div class="progress-bar progress-bar-danger disapproved-bar">
                                    <span class="disapproved-bar-label"> </span> Disapproved
                                </div>
                                <div class="progress-bar info pending-bar">
                                    <span class="pending-bar-label"> </span> Pending
                                </div>
                            </div>
                            <div class="card-action buttons-card">
                                {{!--
                                Buttons for Approve, Disapprove, List Job Vacancy, and got to Job Listing Page will be
                                here.
                                The elements are added via PRFIndividualPage.js since appearance of buttons
                                depends on the user and the status of the PRF.
                                --}}
                                
                            </div>

                            <table class="table table-responsive col s12">
                                <thead>
                                    <td colspan="3" class="center card-title"> Approvals </td>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="PRF-info-label " style="width:100%;">Approver</td>
                                        <td class="PRF-info-label center">Status</td>

                                    </tr>

                                    <!--TODO: update to those who need to approve application -->

                                    <!-- Business Unit Head -->
                                    {{!--#ifEquals PRF.approvalBUHead.approval "Approved"--}}
                                    <tr class="success">
                                        {{!--/ifEquals--}}
                                        {{!--#ifEquals PRF.approvalBUHead.approval "Pending"--}}
                                    <tr class="info">
                                        {{!--/ifEquals--}}
                                        {{!--#ifEquals PRF.approvalBUHead.approval "Disapproved"--}}
                                    <tr class="danger">
                                        {{!--/ifEquals--}}
                                        <td class="">
                                            <span class="PRF-info-label">Business Unit Head </span> <br>
                                            <span class="PRF-info-label">Name: </span>
                                            <span>BUhead_firstName
                                                BUhead_lastName</span> <br>
                                            <span class="PRF-info-label">Business Unit
                                            </span><span>BUhead_businessUnit</span>
                                            <br>
                                            <span class="PRF-info-label">Department
                                            </span><span>BUhead_department</span> <br>
                                            <span class="PRF-info-label">Position
                                            </span><span>BUhead_position </span>

                                        </td>
                                        <td class="vertical-align center"><span
                                                class="approvalBUHead-status">approvalBUHead-status</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


                <!-- /. PAGE WRAPPER  -->
            </div>
            <!-- /. WRAPPER  -->
            <!-- JS Scripts-->
        </div>

    </div>            
    {{> partials/endOfBodyJSScripts}}

</body>

</html>