<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Training Tracker</title>

    {{!-- head stylesheets and js --}}
    {{> partials/headlinks}}


</head>

<body>
    <div id="wrapper">

        {{> partials/topnav}}
        {{> partials/sidenav}}

        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
                    Training Tracker
                </h1>
            </div>
            <div id="page-inner">
                <div class="row">

                    <div class="col-md-12">
                        <!--    Hover Rows  -->
                        <div class="card">
                        

                            <div class="table-responsive">
                                <table class="table table-hover pointer green-thead">
                                    <thead>
                                        <tr>
                                            <th>Training #</th>
                                            <th>Title</th>
                                            <th>Venue</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                        {{#if trainingNominations}}
                                        {{#each trainingNominations}}
                                        <tr onclick="window.location.href = '/TrainingIndividualTracker/{{trainingDetails.id}}';">
                                            <td>{{trainingID}}</td>
                                            <td>{{trainingDetails.trainingTitle}}</td>
                                            <td>{{trainingDetails.trainingVenue}}</td>
                                            <td>{{formatDateAndTime trainingDetails.trainingDate}}</td>
                                        </tr>
                                        {{/each}}
                                        {{/if}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End  Hover Rows  -->


                    <footer>

                    </footer>
                </div>
                <!-- /. PAGE INNER  -->
            </div>

            <!-- /. PAGE WRAPPER  -->
        </div>
        <!-- /. WRAPPER  -->

        <!-- JS Scripts-->
        {{> partials/endOfBodyJSScripts}}

        <script>
            function search_table(value) {
                    $(".table td").each(function () {
                        var found = 'false';
                        $(this).each(function () {
                            if ($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0) {
                                found = 'true';
                            }

                            if (found == 'true') {
                                $(this).parent().show();
                            }
                            else {
                                $(this).parent().hide();
                            }
                        })
                    })
                }

                $('.filter-table').change(function () {
                    if ($('.filter-table').val() == "none") {
                        window.location.href = "/PRFTracker";
                    } else {
                        search_table($(this).val());
                    }
                })

            

        </script>

</body>
</html>