<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personnel Requisition Form</title>

    {{!-- head stylesheets and js --}}
    {{> partials/headlinks}}


</head>

<body>
    <div id="wrapper">

        {{> partials/topnav}}
        {{> partials/sidenav}}

        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
                    Personnel Requisition Forms
                </h1>
            </div>
            <div id="page-inner">
                <div class="row">

                    <div class="col-md-12">
                        <!--    Hover Rows  -->
                        <div class="card">
                            <div class="card-action">
                                Personnel Requisition Forms
                            </div>
                            <div class="card-content">

                                <div class="row">
                                    <div class="input-group col filter-select ">
                                        <label>Filter Status</label>
                                        <select class="filter-table">
                                            <option value="" selected>none</option>
                                            <option value="For Approval">For Approval</option>
                                            <option value="Approved">Approved</option>
                                            <option value="Open">Open</option>
                                            <option value="Closed">Closed</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                            </div>


                            <div class="table-responsive">
                                <table class="table table-hover pointer green-thead">
                                    <thead>
                                        <tr>
                                            <th>Requisition #</th>
                                            <th>Position Title</th>
                                            <th>Business Unit</th>
                                            <th>Department</th>
                                            <th>Created Date</th>
                                            <th>Target Start Date</th>
                                            <th>Fully Approved Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#if PRFData}}
                                        {{#each PRFData}}
                                        <tr onclick="window.location.href = '/PRFTracker/{{requisitionID}}';">
                                            <td>{{requisitionID}}</td>
                                            <td>{{positionTitle}}</td>
                                            <td>{{businessUnit}}</td>
                                            <td>{{department}}</td>
                                            <td>{{createdDateString}}</td>
                                            <td>{{targetStartDateString}}</td>
                                            <td>{{approvedDateString}}</td>
                                            <td>{{status}}</td>
                                        </tr>
                                        {{/each}}
                                        {{/if}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End  Hover Rows  -->


                    <footer>

                    </footer>
                </div>
                <!-- /. PAGE INNER  -->
            </div>

            <!-- /. PAGE WRAPPER  -->
        </div>
        <!-- /. WRAPPER  -->

        <!-- JS Scripts-->
        {{> partials/endOfBodyJSScripts}}

        <script>
            function search_table(value) {
                    $(".table td").each(function () {
                        var found = 'false';
                        $(this).each(function () {
                            if ($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0) {
                                found = 'true';
                            }

                            if (found == 'true') {
                                $(this).parent().show();
                            }
                            else {
                                $(this).parent().hide();
                            }
                        })
                    })
                }

                $('.filter-table').change(function () {
                    if ($('.filter-table').val() == "none") {
                        window.location.href = "/PRFTracker";
                    } else {
                        search_table($(this).val());
                    }
                })

            

        </script>


</body>



</html>